.carre {
    width: 200px;
    height: 200px;
    background-color: rgb(136,174,136);
    color: rgb(255, 255, 255);
    font-family: "Time New Roman";
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 

    cursor: pointer; /* Indique que l'élément est cliquable */
}